﻿@model IEnumerable<Job_Board.Job>

@{
    ViewBag.Title = "Job Board";
}


    <h2>Job Board</h2>
   <br /><br />
<div style="width:1000;">
    <div class="row">
        <table class="listJob" cellpadding="6" cellspacing="6" width="1200" >
            <thead>
                <tr>
                    <th>
                        Job Title
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Created At
                    </th>
                    <th>
                        Expires At
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>

            </thead>
            @foreach (var item in Model)
            {
                <tr>

                    <td style="vertical-align:top">
                        @item.JobTitle
                    </td>
                    <td style="vertical-align:top">
                        @item.Description
                    </td>
                    <td style="vertical-align:top">
                        @item.CreatedAt
                    </td>
                    <td style="vertical-align:top">
                        @item.ExpiresAt
                    </td>
                    <td style="vertical-align:top">
                        @Html.ActionLink("Edit", "update", "Home", new { id = item.JobId }, null)

                    </td>
                    <td style="vertical-align:top">
                        <a href="javascript:ConfirmDialog('You are about to delete this Job, do you want to proceed?',@item.JobId)">Delete</a>
                    </td>

                </tr>
            }
        </table>
    </div>
</div>

<script>
    function ConfirmDialog(message, id) {
        $('<div></div>').appendTo('body')
            .html('<div><h6>' + message + '?</h6></div>')
            .dialog({
                modal: true,
                title: 'Delete message',
                zIndex: 10000,
                autoOpen: true,
                width: 'auto',
                resizable: false,
                buttons: {
                    Yes: function () {
                        window.location.href = "/home/delete/"+id;
                        $(this).dialog("close");
                    },
                    No: function () {
                        $(this).dialog("close");
                    }
                },
                close: function (event, ui) {
                    $(this).remove();
                }
            });
    };

</script>